@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



@theme {

  --font-Josefin:  "Josefin Sans", sans-serif;
  --font-Lato:  "Lato", sans-serif;
  --breakpoint-xs: 475px;
  
   
}

.slick-slide {
  padding: 0 10px;     
}

.slick-list {
  margin: 0 -12px;    
}



.ami{
  z-index: 2;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ami h2{
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  display: flex;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}






 /* '2xs': '320px', // Custom 2xs breakpoint
      'xs': '475px',  // Optional, as Tailwind has no default 'xs' either
      'sm': '640px',
      'md': '768px',
      'lg': '1024px',
      'xl': '1280px',
      '2xl': '1536px', */